h1 {
    font-family: 'Sacramento', cursive;
    width: 10%;
    margin: 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}   

body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #F0EBE3;
    padding-top: 150px;
    position: relative;
}

.middle-container {
    background-color: #F0EBE3;
}

.down-container {
    background-color: #F0EBE3;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 300px;
}
