:root{
    --background-primary: #F0EBE3;
    --color-primary: #7D9D9C;
    --color-secondary: #576F72;
}
*{

    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Sacramento', cursive;
    width: 10%;
    margin: 0 auto;
} 
body {
    margin: 0%;
    text-align: center;
    background-color: var(--background-primary);
}

.top-container {
    padding-top: 150px;
    position: relative;
}

.middle-container {
}

.down-container {
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 300px;
}
.contact-me{
    padding: 50px;
    padding-top: 0;
}

a{
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
}

.contact-me p{
    margin-bottom: 40px;
}

.btn{
    background: var(--color-primary);
    padding: 20px;
    border-radius: 10px;
    color: var(--background-primary);
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

.btn:hover{
    background: var(--color-secondary);
}

.bottom-container{
    margin-bottom: 20px;
}