:root{
    --background-primary: #F0EBE3;
    --color-primary: #7D9D9C;
    --color-secondary: #576F72;
}
*{

    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color: var(--color-primary);
    width: 20%;
    margin: 50px auto 0 auto;
    line-height: 1.5;
} 

h2 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--color-primary);
}

h3 {
    color: var(--color-secondary);
    font-weight: bold;
}

hr {    
    border: none;
    border-top: dotted 10px;
    width: 5%;
    color: var(--color-primary)
}

body {
    margin: 0%;
    text-align: center;
    background-color: var(--background-primary);
}

.top-container {
    padding-top: 150px;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 85px;
}

.bottom-cloud {
    position: absolute;
    left: 480px;
    bottom: 300px;
}

.middle-container {
    background-color: white;
}

.bottom-container{
    padding-bottom: 50px;
    background-color: white;
    display: grid;
    row-gap: 15px;
}

.skills {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill-row {
    display: inline-block;
    width: 50%;
    text-align: justify;
    line-height: 2;
    padding: 20px;
}

.contact-me{
    padding: 35px;
    padding-top: 20px;
}

a{
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
}

.contact-me p{
    margin-bottom: 40px;
}

.btn{
    background: var(--color-primary);
    padding: 15px;
    border-radius: 15px;
    color: var(--background-primary);
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

.btn:hover{
    background: var(--color-secondary);
}

.profile{
    padding-top: 25px;
    line-height: 2;
}

.profile p{
    width: 50%;
    margin: 0 auto 50px auto;
}

.computer-img{
    border-radius: 50%;
    width: 23%;
    float: left;
    margin-right: 20px;
}

.teacher-img{
    border-radius: 50%;
    width: 23%;
    float: right;
    margin-left: 20px;
}

.footer-link{
    margin: 20px 25px;
}
